*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    border: 2px solid black ;
    text-decoration: none;
    height: 2rem;
    width: 5.7rem;
    gap: 5px;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 0.7rem;
}

.canvas{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
.button{
    margin: 5px;
    padding: 2px;
    height: 5rem;
    width: 6rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}